body {
    background-color: black;
}

#fogo1, #vela1, #base {
    display: flex;
    justify-content: center;
    
}

.fogo2 {
    background-image: linear-gradient(355deg, #e1ff9f 0, #e5f590 8.33%, #e9eb7f 16.67%, #ece06f 25%, #efd35e 33.33%, #f1c54d 41.67%, #f2b53c 50%, #f3a52d 58.33%, #f59422 66.67%, #f8841d 75%, #fa731e 83.33%, #fd6124 91.67%, #ff4e2c 100%);
    width: 90px;
    height: 200px;
    border-radius: 50%;
    box-shadow: #ece06f 0px 0px 100px ;
    margin-top: 50px;
}

.vela2 {
    background-color: antiquewhite;
    width: 160px;
    height: 450px;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: antiquewhite 0px 0px 50px;
}

.base1 {
    width: 300px;
    height: 25px;
    background-color: slategray;
    border-radius: 10px;
}